// Light Theme ------------------------------------------------------- //
.react-contexify__theme--light {
  padding: 5px 0 5px 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .2), 0 0 0 1px #eee;
  .react-contexify__separator {
    background-color: #eee;
  }
  .react-contexify__item {

    &:not(.react-contexify__item--disabled):hover .react-contexify__item__data {
      color: #f06428;
      background-color: #fff;
    }

    &__data {
      color: #959595;
    }
    &__icon {
      margin-right: 8px;
      width: 12px;
      text-align: center;
    }
  }
}